<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer th:fragment="footer" class="main-footer">
    <div class="footer-container">
        <div class="footer-grid">
            <div class="footer-info">
                <h3>La Curva League</h3>
                <p>La competición oficial de los mejores misters.</p>
            </div>
            <div class="footer-copy">
                <h4>Temporada 25/26</h4>
                <p>© Todos los derechos reservados.</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>Diseñado con ❤️ para la comunidad de Mister.</p>
            <p class="txt-actualizado">Última actualización: <span th:text="${ultimaActualizacion}">04/03/2026 08:24h</span></p>
        </div>
    </div>
</footer>
</body>
</html>