<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <nav th:fragment="nav" class="navbar">
    <div class="nav-top">
        <a th:href="@{/inicio}" class="nav-logo">
            <img th:src="@{/img/lcl.png}" alt="LCL Logo" draggable="false">
            <span>La Curva League</span>
        </a>
    </div>
    <div class="nav-scroll-container">
        <ul class="nav-list-tops">
            <li class="nav-item"><a th:href="@{/top/asistentes}" th:classappend="${seccionActual.contains('/top/asistentes')} ? 'activo' : ''"
                                    th:text="#{ranking.asistentes}">Asistentes</a></li>
            <li class="nav-item"><a th:href="@{/top/clausulazos}" th:classappend="${seccionActual.contains('/top/clausulazos')} ? 'activo' : ''"
                                    th:text="#{ranking.clausulazos}">Asistentes</a></li>
            <li class="nav-item"><a th:href="@{/top/goleadores}" th:classappend="${seccionActual.contains('/top/goleadores')} ? 'activo' : ''"
                                    th:text="#{ranking.goleadores}">Goleadores</a></li>
            <li class="nav-item"><a th:href="@{/inicio}" th:classappend="${seccionActual.contains('/top/llorometro')} ? 'activo' : ''"
                                    th:text="#{ranking.llorometro}">Llorómetro</a></li>
            <!-- <li class="nav-item"><a th:href="@{/top/llorometro}" th:classappend="${seccionActual.contains('/top/llorometro')} ? 'activo' : ''"
                                    th:text="#{ranking.llorometro}">Llorómetro</a></li> -->
            <li class="nav-item"><a th:href="@{/top/records}" th:classappend="${seccionActual.contains('/top/records')} ? 'activo' : ''"
                                    th:text="#{ranking.records}">Récords Generales</a></li>
            <li class="nav-item"><a th:href="@{/top/tarjetas}" th:classappend="${seccionActual.contains('/top/tarjetas')} ? 'activo' : ''"
                                    th:text="#{ranking.tarjetas}">Tarjetas</a></li>
        </ul>
    </div>
    <div class="nav-scroll-container">
        <ul class="nav-list-equipos">
            <li class="nav-item"><a th:href="@{/club/maccabi}" th:classappend="${seccionActual.contains('/club/maccabi')} ? 'activo' : ''"
                                    th:text="#{equipo.maccabi}">Club Maccabi de Levantar</a></li>
            <li class="nav-item"><a th:href="@{/club/gudi-legends}" th:classappend="${seccionActual.contains('/club/gudi-legends')} ? 'activo' : ''"
                                    th:text="#{equipo.gudi}">GUDI LEGENDS</a></li>
            <li class="nav-item"><a th:href="@{/club/los-11-yonkos}" th:classappend="${seccionActual.contains('/club/los-11-yonkos')} ? 'activo' : ''"
                                    th:text="#{equipo.yonkos}">Los 11 Yonkos</a></li>
            <li class="nav-item"><a th:href="@{/club/los-pollos-hermanos}" th:classappend="${seccionActual.contains('/club/los-pollos-hermanos')} ? 'activo' : ''"
                                    th:text="#{equipo.pollos}">Los Pollos Hermanos</a></li>
            <li class="nav-item"><a th:href="@{/club/los-titanes-de-merles}" th:classappend="${seccionActual.contains('/club/los-titanes-de-merles')} ? 'activo' : ''"
                                    th:text="#{equipo.titanes}">Los Titanes de Merlès</a></li>
            <li class="nav-item"><a th:href="@{/club/petri-united}" th:classappend="${seccionActual.contains('/club/petri-united')} ? 'activo' : ''"
                                    th:text="#{equipo.petri}">Petri United FC</a></li>
            <li class="nav-item"><a th:href="@{/club/shalke-megino}" th:classappend="${seccionActual.contains('/club/shalke-megino')} ? 'activo' : ''"
                                    th:text="#{equipo.shalke}">Shalke Megiño</a></li>
            <li class="nav-item"><a th:href="@{/club/signos-vitales}" th:classappend="${seccionActual.contains('/club/signos-vitales')} ? 'activo' : ''"
                                    th:text="#{equipo.signos}">Signos Vitales FC</a></li>
        </ul>
    </div>
    </nav>
</body>
</html>