<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <nav th:fragment="nav" class="navbar">
    <div class="nav-top">
        <a th:href="@{/inicio}" class="nav-logo">
            <img th:src="@{/img/lcl.png}" alt="LCL Logo" draggable="false">
            <span>La Curva League</span>
        </a>
    </div>
    <div class="nav-scroll-container">
        <ul class="nav-list-tops">
            <li class="nav-item"><a th:href="@{/top/goleadores}" th:classappend="${seccionActual.contains('/top/goleadores')} ? 'activo' : ''"
                                    th:text="#{ranking.goleadores}">Goleadores</a></li>
            <li class="nav-item"><a th:href="@{/top/llorometro}" th:classappend="${seccionActual.contains('/top/llorometro')} ? 'activo' : ''"
                                    th:text="#{ranking.llorometro}">Llorómetro</a></li>
            <li class="nav-item"><a th:href="@{/top/records}" th:classappend="${seccionActual.contains('/top/records')} ? 'activo' : ''"
                                    th:text="#{ranking.records}">Récords Jornada</a></li>
            <li class="nav-item"><a th:href="@{/top/tarjetas}" th:classappend="${seccionActual.contains('/top/tarjetas')} ? 'activo' : ''"
                                    th:text="#{ranking.tarjetas}">Tarjetas</a></li>
        </ul>
    </div>
    <div class="nav-scroll-container">
        <ul class="nav-list-equipos">
            <li class="nav-item"><a th:href="@{/club/fenix-del-mar}" th:classappend="${seccionActual.contains('/club/fenix-del-mar')} ? 'activo' : ''"
                                    th:text="#{equipo.fenix}">Fénix del mar</a></li>
            <li class="nav-item"><a th:href="@{/club/maylova-fc}" th:classappend="${seccionActual.contains('/club/maylova-fc')} ? 'activo' : ''"
                                    th:text="#{equipo.maylova}">Maylova FC</a></li>
            <li class="nav-item"><a th:href="@{/club/los-11-yonkos}" th:classappend="${seccionActual.contains('/club/los-11-yonkos')} ? 'activo' : ''"
                                    th:text="#{equipo.yonkos}">Los 11 Yonkos</a></li>
            <li class="nav-item"><a th:href="@{/club/los-hokages-de-merles}" th:classappend="${seccionActual.contains('/club/los-hokages-de-merles')} ? 'activo' : ''"
                                    th:text="#{equipo.hokages}">Los Hokages de Merlès</a></li>
            <li class="nav-item"><a th:href="@{/club/los-pollos-hermanos}" th:classappend="${seccionActual.contains('/club/los-pollos-hermanos')} ? 'activo' : ''"
                                    th:text="#{equipo.pollos}">Los Pollos Hermanos</a></li>
            <li class="nav-item"><a th:href="@{/club/rayo-vaticano}" th:classappend="${seccionActual.contains('/club/rayo-vaticano')} ? 'activo' : ''"
                                    th:text="#{equipo.rayo}">Rayo Vaticano</a></li>
            <li class="nav-item"><a th:href="@{/club/shalke-megino}" th:classappend="${seccionActual.contains('/club/shalke-megino')} ? 'activo' : ''"
                                    th:text="#{equipo.shalke}">Shalke Megiño</a></li>
        </ul>
    </div>
    </nav>
</body>
</html>