<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clausulazos - La Curva League</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/estilos-tops.css}">
    <script src="https://kit.fontawesome.com/your-code.js" crossorigin="anonymous"></script>
</head>
<body>

    <h1 class="titulo-pagina-lloro">🔥 Mercado de Clausulazos 🔥</h1>

    <div class="main-container-equipos">
        <div class="table-wrapper">
            <table class="styled-table styled-table-llorometro">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Comprador</th>
                        <th></th> <th>Vendedor</th>
                        <th>Jugador</th>
                        <th>Precio Pagado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-media">07 Mar</td>
                        <td class="mister-nombre comprador">Los 11 Yonkos</td>
                        <td><div class="icon-clausulazo">💣</div></td>
                        <td class="mister-nombre vendedor">Fénix del mar</td>
                        <td>
                            <span class="nombre-jugador">L. Yamal</span>
                            <span class="badge-posicion pos-DL">DL</span>
                        </td>
                        <td>
                            <div class="asist-box">
                                <span>290.8M €</span>
                                <small>Cláusula</small>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="col-media">07 Mar</td>
                        <td class="mister-nombre comprador">Hokages Merlès</td>
                        <td><div class="icon-clausulazo">💣</div></td>
                        <td class="mister-nombre vendedor">Los 11 Yonkos</td>
                        <td>
                            <span class="nombre-jugador">Pedri</span>
                            <span class="badge-posicion pos-MC">MC</span>
                        </td>
                        <td>
                            <div class="asist-box">
                                <span>154M €</span>
                                <small>Cláusula</small>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>