<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clausulazos - La Curva League</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/estilos-tops.css}">
    <link rel="shortcut icon" th:href="@{/favicon.png}" type="image/x-icon">
</head>
<body>
    <nav class="navbar" th:replace="~{fragments/navbar :: nav}"></nav>
    <h1 class="titulo-pagina-lloro">🔥 Clausulazos 🔥</h1>

    <div class="main-container-equipos clausulazo">
        <div class="table-wrapper">
            <table class="styled-table styled-table-clausulazo">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Comprador</th>
                        <th></th> <th>Vendedor</th>
                        <th>Jugador</th>
                        <th>Precio Pagado</th>
                    </tr>
                </thead>
                <tbody>                                        
                    <tr th:each="c : ${listaClausulazos}">
                        <td class="col-media" th:text="${#temporals.format(c.fechaCompra, 'dd/MM/yyyy')} ?: ${c.fechaCompra}"></td>
                        
                        <td class="mister-nombre comprador">
                            <div class="equipo-info-cell">
                                <img th:src="${c.imgComprador}" class="escudo-tabla" alt="">
                                <span th:text="${c.misterComprador}"></span>
                            </div>
                        </td>
                        
                        <td><div class="icon-clausulazo">→</div></td>
                        
                        <td class="mister-nombre vendedor">
                            <div class="equipo-info-cell">
                                <img th:src="${c.imgVendedor}" class="escudo-tabla" alt="">
                                <span th:text="${c.misterVendedor}"></span>
                            </div>
                        </td>
                        
                        <td>
                            <div class="pichichi-cell">
                                <span class="nombre-jugador" th:text="${c.nombreJugador}"></span>
                                <span th:class="'badge-posicion pos-' + ${c.posicionJugador}" th:text="${c.posicionJugador}"></span>
                            </div>
                        </td>
                        
                        <td>
                            <div class="asist-box">
                                <span th:text="${#numbers.formatInteger(c.precioPagado, 0, 'POINT')} + '€'"></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<nav th:replace="~{fragments/footer :: footer}"></nav>
</body>
</html>