<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Llorómetro - La Curva League</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="stylesheet" th:href="@{/css/estilos-tops.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/burbuja-goleadores.js}" defer></script>
    <link rel="shortcut icon" th:href="@{/favicon.png}" type="image/x-icon">
</head>
<body>
    <nav th:replace="~{fragments/navbar :: nav}"></nav>
    <div class="main-container full-width">
         <h1 class="titulo-pagina-lloro">😭Llorómetro Fantasy😭</h1>

        <div class="app-navigator">
                <button class="nav-btn" onclick="cambiarJornada(-1)">❮</button>
                <div class="jornada-display" onclick="abrirSelector()">
                    <span class="j-small" id="labelTipoVista">RESUMEN</span>
                    <span class="j-big" id="numJornadaActual">Todo</span>
                </div>
                <button class="nav-btn" onclick="cambiarJornada(1)">❯</button>
            </div>
        </div>

        <div class="table-wrapper">
            <div th:each="j : ${listaJornadasLloros}" th:id="'jornada-bloque-' + ${j.numeroJornada}">
                <table class="styled-table-llorometro">
                    <thead>
                        <tr>
                            <th class="col-mister">Mister</th>
                            <th>Motivos del lloro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="equipo : ${j.equiposLloros}">
                            <td class="mister-nombre">
                                <span th:text="${equipo.nombreMister}">Nombre</span>
                            </td>
                            <td class="col-motivos">
                                <ul class="lista-lloros">
                                    <li th:each="l : ${equipo.lloros}">
                                        <span class="icon-lloro">📢</span>
                                        <span th:text="${l.motivo}"></span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
<nav th:replace="~{fragments/footer :: footer}"></nav>
</body>
</html>